body {
  background-color:black;
  color: red;
  font-family: serif;
}
h1 {
  text-align:center;
}
h3 {
  position:absolute;
  top:0;
  left:0;
}

.btn {
  padding: 2em;
  border-style:solid;
  text-align:center;
}
